<%listData.forEach(function(item){%>

<div class="row margin-bottom-10" >
    <div class="col-md-12">
        <h3><a href="/details/<%=item._id%>.html" target="_blank"><%=item.stitle%>&nbsp;<span class="badge"><%=item.clickNum%></span></a></h3>
    </div>
</div>

<%})%>