<!--近期文章模块-->
<div class="newItemList">
    <h3>近期文章</h3>
    <ul>
        <%newItemListData.forEach(function(item){%>
        <li>
            <a href="/details/<%=item._id%>.html"><%=item.stitle%></a>
        </li>
        <%})%>
    </ul>
</div>