<!--footer begin-->
<div id="footer">
    <div class="container">

        <p id="banquan">自豪的采用&nbsp;<a href="http://html-js.cn">DoraCMS</a>&nbsp;Copyright (c) 2015 &nbsp;<a
                    href="http://www.miitbeian.gov.cn/" target="_blank"><%=siteConfig.siteIcp%></a> All Rights Reserved &nbsp;<a href="http://www.html-js.cn/sitemap.html" target="_blank">站点地图</a>&nbsp;应用案例：<a href="http://www.dailyads.cn" target="_blank">每日一广告</a></p>
    </div>
</div>
<!--footer end-->

<div id="cbbfixed">
    <a href="###" class="cbbtn" id="cweixin">
        <span class="yy-icon yy-weixin"></span>
        <div></div>
    </a>
    <a href="###" class="cbbtn" id="gotop">
        <span class="yy-icon yy-gt"></span>
    </a>
</div>


</body>
</html>



<script src="<%=staticFilePath%>/javascripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="<%=staticFilePath%>/javascripts/bootstrap.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->

<!--自定义-->
<script src="<%=staticFilePath%>/javascripts/angular.min.js"></script>
<script src="/javascripts/webapp.js"></script>
<script>
    var doraApp = angular.module("webApp",[]);
    doraApp.controller("userlogin",function($scope,$http) {
                //        用户登录
                $scope.processLogForm = function (isValid) {

                    if (isValid) {
                        $http({
                            method: 'POST',
                            url: "/users/doLogin",
                            data: $.param($scope.logFormData),  // pass in data as strings
                            headers: { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
                        })
                                .success(function (data) {
                                    if (data === "success") {
                                        $('#uLoginModal').modal('hide');
                                        window.location.reload();
                                    } else {
                                        $(".submitwarning").show().text('用户名和密码不匹配');
                                    }
                                });
                    }
                    else {
                        alert("error");
                    }
                };

            })


</script>