<script src="<%=staticFilePath%>/javascripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    //设定倒数秒数
    var t = 5;
    //显示倒数秒数
    function showTime(){
        t -= 1;
        $("#timeLeft").html(t);
        if(t==0){
            location.href='/';
        }
        //每秒执行一次,showTime()
        setTimeout("showTime()",1000);
    }
    //执行showTime()
    showTime();
    $(function(){

    })

</script>
<!-- BEGIN CONTAINER -->
<div class="container min-hight margin-bottom-20 margin-top-20" style="background: #FFFFFF">
    <input type="hidden" value="<%=successKey%>" id="successKey"/>
    <div class="row">
        <div class="col-md-12 page-success">
            <div class="state">
                <i class="fa fa-check-circle"></i>
            </div>
            <div class="details">
                <h3>恭喜，操作成功</h3>
                <p>
                    <a id="timeLeft" class="text-danger">4</a>&nbsp;秒后页面即将跳转<br>
                    <a href="/">返回首页</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END CONTAINER -->
