<div class="container" ng-app="webApp" ng-controller="user">

    <div class="uCenter">
        <ul class="unav">
            <li><a href="/users/setUserInfo">个人资料</a></li>
            <li class="active"><a href="/users/setUserLogo">修改头像</a></li>
            <li><a href="/users/setUserPsd">修改密码</a></li>

        </ul>
        <div class="uInfos">

            <form class="form-horizontal" name="updateLogo" ng-submit="processUpdateLogo()" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label">更改头像</label>

                    <div class="col-sm-2">
                        <img src="<%=userInfo.logo%><%=thumbnailUrl('100x100')%>" class="img-responsive" id="myImg" alt="<%=userInfo.userName%>"/>
                        <!--<input type="hidden" id="logoPath" name="logo" ng-model="logoFormData.logo"/>-->
                    </div>
                    <div class="col-sm-4 selectHeaderLog" id="upContainer">
                        <!--<input type="file" name="uploadify" id="uploadify" />-->
                        <button class="btn btn-gray" role="button" id="pickfiles">选择图片</button>
                        <p>jpg、gif、png格式，尺寸要求：<font color="#c00">100x100/px</font></p>
                    </div>
                    <!--<div id="upContainer">-->
                        <!--<a class="btn btn-default btn-lg " id="pickfiles" href="#" >-->
                            <!--<i class="glyphicon glyphicon-plus"></i>-->
                            <!--<span>选择文件</span>-->
                        <!--</a>-->
                    <!--</div>-->
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-blue modify-btn disabled" id="submitLogo">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>
<!-- /container -->
