<!--密码重置-->
<div class="container">
    <div class="col-md-12">
        <div class="col-md-4 col-md-offset-4 min-hight" style="margin-top: 50px;">
            <% include ../public/reSetPsd %>
        </div>
    </div>
</div>